<h1 mat-dialog-title>{{data.name}} {{data.lastName}}</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field class="field-input">
      <mat-label>Jméno</mat-label>
      <input matInput placeholder="Jméno" value={{data.name}}>
    </mat-form-field>
    <mat-form-field class="field-input">
      <mat-label>Příjmení</mat-label>
      <input matInput placeholder="Příjmení" value={{data.lastName}}>
    </mat-form-field>
    <mat-form-field class="field-input">
      <mat-label>Datum narození</mat-label>
      <input matInput placeholder="Datum narození" value="{{data.dateOfBirth|date:'d.M.y'}}">
    </mat-form-field>
    <mat-form-field class="field-input">
      <mat-label>Pozice</mat-label>
      <input matInput placeholder="Pozice" value={{data.position}}>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Zavřít</button>
</div>
