<!-- create/edit dialog -->
<div *ngIf="data.dialogType ==='edit' || data.dialogType==='add'" class="dialog-create-edit">
<h1 mat-dialog-title>{{data.firstName}} {{data.lastName}}</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field class="field-input">
      <mat-label>Jméno</mat-label>
      <input class="form-control" id="firstName" [formControl]="firstName" matInput placeholder="Jméno" name="firstName" [(ngModel)]='data.firstName' required>
      <mat-error *ngIf="firstName.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="field-input">
      <mat-label>Příjmení</mat-label>
      <input [formControl]="lastName" matInput placeholder="Příjmení" name="lastName" [(ngModel)]='data.lastName' required>
      <mat-error *ngIf="lastName.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="field-input">
      <mat-label>Pozice</mat-label>
      <mat-select [formControl]="position" [(ngModel)]="selectedValue" name="positions" required>
        <mat-option *ngFor="let position of data.position.positions" [value]="position" >
          {{position}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="position.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="field-input">
      <mat-label>Datum narození</mat-label>
      <input [formControl]="dateOfBirth" type="date" matInput placeholder="Datum narození" name="dateOfBirth" [(ngModel)]='data.dateOfBirth' required>
      <mat-error *ngIf="dateOfBirth.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button *ngIf="data.dialogType === 'edit'" [disabled]="firstName.invalid || lastName.invalid || position.invalid || dateOfBirth.invalid" type="submit" mat-flat-button color="primary" (click)="update(data)"><mat-icon>save</mat-icon></button>
  <button *ngIf="data.dialogType === 'add'" [disabled]="firstName.invalid || lastName.invalid || position.invalid || dateOfBirth.invalid" type="submit" mat-flat-button color="primary" (click)="add(data)"><mat-icon>save</mat-icon></button>
  <button mat-button  mat-stroked-button color="primary"  mat-dialog-close><mat-icon>close</mat-icon></button>
</div>
</div>

<!-- end create/edit dialog -->

<!-- Delete dialog -->
<div *ngIf="data.dialogType ==='delete'" class="dialog-delete">
  <h1 mat-dialog-title>Odstranit {{data.firstName}} {{data.lastName}} ?</h1>
  <div mat-dialog-content>
    <p> Opravdu chcete smazat zaměstnance <strong>{{data.firstName}} {{data.lastName}} (id: {{data.id}}) </strong> ? </p>
  </div>

  <div mat-dialog-actions>
    <button type="submit" mat-flat-button color="primary" (click)="remove(data)">Ano</button>
    <button mat-button  mat-stroked-button color="primary"  mat-dialog-close>Ne</button>
  </div>
</div>
<!-- End delete dialog -->
